.container {
    display: block;
}

.navbar-brand {
    font-size: 24px;
    color: white !important;
    background-color:rgba(23, 148, 137, 0.747);
    padding: 10px;    
}

body {
    background-color: #cccaca93;
}

.container-des {
    width: 1024px;
    margin: 0 auto;
}

#header {
    color:rgba(23, 148, 137, 0.747);
}

#main-description {
    width: 70%;
    text-align: left;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 40px 14px;
    padding: 30px 20px;
    float: left;
}

#figure {
    position: relative;
    float: left;
}

#sidebar-img {
    position: absolute;
    width: 26%;
    display: inline-block;
    background-color: white;
    font-size: 16px;
    margin: 40px;
    margin-left: 10px;
    padding: 24px 20px;
    color:rgba(23, 148, 137, 0.747);
}

#for-smaller-screen {
    display: none;
    font-size: 16px;
    color:rgba(23, 148, 137, 0.747);
}

#for-small-screen {
    display: none;
    font-size: 16px;
    color:rgba(23, 148, 137, 0.747);
}

#big-figure {
    text-align: center;
}

@media (max-width: 991px) {
    #sidebar-img {
        display: none;
    }

    #for-smaller-screen {
        display: inline;
    }

}

@media (max-width: 720px) {
    #main-description {
        width: 60%;
    }

}

@media (max-width: 635px) {
    #main-description {
        width: 50%;
    }

    #for-smaller-screen {
        display: none;
    }

    #for-small-screen {
        display: inline;
    }

}
